<!-- First Slide / Home Slide -->
<div id="home_slide" class="parallax">
 <div class="innerContent">
   <h1>Women</h1><span>in</span><h1>STEM</h1> <br> <br> <br> <br>
   <button id="scrollDown">
     <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i>
   </button>
 </div>
</div>
<!-- Section 1 of Women in STEM -->
<section id="overview">
  <div id="slide2" class="slides">
    <p class="photoSource">UN Photo: Nafise Motla, WorldBank</p>
    <div class="innerContent wrapper">
      <div id="define">
        <span class="firstL">S</span><span>cience</span><br>
        <span class="firstL">T</span><span>echnology</span><br>
        <span class="firstL">E</span><span>ngineering</span><br>
        <span class="firstL">M</span><span>athematics</span>
      </div>
      <div class="column">
        <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> <br>
        <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
      </div>
      <div class="column">
        <i class="fa fa-rocket fa-2x" aria-hidden="true"></i> <br>
        <i class="fa fa-superscript fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div id="slide3" class="slides">
    <div class="innerContent">
      <hr>
      <p>Despite growth and accessibility for education &amp; career options, there are still societal &amp; cultural barriers against women in STEM</p>
      <hr>
    </div>
  </div>
  <div id="slide4" class="slides">
    <div class="innerContent">
      <p>No region in the world has been able to reach <span class="highlight"><span class="highlight_text">50%</span></span> representation of women in STEM</p>
      <a href="http://www.catalyst.org/knowledge/women-science-technology-engineering-and-mathematics-stem" class="source">Source</a>
    </div>
  </div>
  <div id="slide5" class="parallax">
    <div class="innerContent">
      <p class="quote">"Society keeps telling us that STEM fields are masculine fields, that we need to
        increase the participation of women in STEM fields, but that kind of sends a signal that
        it’s not a field for women, and it kind of works against keeping women in these fields.”<br><br>
        <em>Adriana D. Kugler</em></p>
    </div>
    <!-- <a class="source" href="https://www.insidehighered.com/news/2017/08/29/study-says-multiple-factors-work-together-drive-women-away-stem">Source</a> -->
  </div>
  <div id="slide6" class="slides">
    <p class="photoSource">UN Photo: Visual News Associates, World Bank</p>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
    <i id="female" class="fa fa-female fa-4x" aria-hidden="true" id="woman"></i>
    <p>Less than 1/4 of STEM jobs are held by women</p>
    <p class="source">Solving for XX</p>
  </div>
  <div id="slide8" class="parallax">
    <div class="innerContent">
      <p>"People ask me all the time: 'What is it like to be a woman at Google?' I'm not a woman at Google, I'm a geek at Google. And being a geek is just great." <br>
      <em>Marissa Mayer</em></p>
    </div>
  </div>
  <div id="slide7" class="slides">
    <p class="photoSource">Photo: US Army</p>
   <div class="innerContent">
     <h3>In the United States, <span class="count">38</span><span>%</span> of women quit engineering or never enter the professional field after recieveing a degree</h3>
   </div>
   <a class="source" href="http://www.catalyst.org/knowledge/women-science-technology-engineering-and-mathematics-stem">Source</a>
  </div>
  <div id="slide10" class="slides">
    <div class="innerContent">
      <p><i class="fa fa-asterisk" aria-hidden="true"></i> Many citing poor pay &amp; promotional opportunities as reasons for leaving</p>
    </div>
    <a class="source" href="https://www.weforum.org/agenda/2015/04/what-does-the-stem-gender-breakdown-really-look-like/">Source</a>
  </div>
</section>
<!-- Section 2 of Women in STEM -->
<section id="international">
  <div id="slide11" class="parallax">
     <p class="quote">"Girls should never be afraid to be smart."<br><br>
       <em>Emma Watson</em></p>
  </div>
  <div id="slide12" class="slides">
    <p class="photoSource">Photo: AP, Matilde Campodonico</p>
    <div class="innerContent">
      <p>Around the world women are using technology to break the glass ceiling</p>
      <hr>
      <%= image_tag("strong.jpg", :alt => "Be Strong") %>
    </div>
  </div>
  <div id="slide13" class="slides">
    <div class="innerContent">
      <p>In Brazil, China, India, and the US, 80-93% of women in STEM say they <span class="highlight"><span class="highlight_text"><i class="fa fa-heart fa-6x" aria-hidden="true"></i></span></span> their work.
        So why will 20-32% of them quit within a year?</p>
    </div>
    <a class="source" href="https://www.weforum.org/agenda/2015/04/what-does-the-stem-gender-breakdown-really-look-like/">Source</a>
  </div>
  <div id="slide14" class="parallax">
     <p class="quote">"For too long, discriminatory stereotypes have prevented women and girls from
       having equal access to education in science, technology, engineering and math (STEM).
       As a trained engineer and former teacher, I know that these stereotypes are flat wrong.
       They deny women and girls the chance to realize their potential—and deprive the world of
       the ingenuity and innovation of half the population."<br><br>
       <em>United Nations Secretary-General, Mr. Antonio Guterres</em></p>
  </div>
  <div id="slide20" class="slides">
    <p class="photoSource">UN Photo: Manuel Elias</p>
    <div class="innerContent">
      <%= image_tag("calendar_February11.png", :alt => "February 11") %>
      <hr>
      <h3><a href="http://www.un.org/en/events/women-and-girls-in-science-day/">United Nations International Day</a> of Women &amp; Girls in Science</h3>
      <p>Adopted to help achieve gender equality, empowerment, access &amp; participation of women and girls in STEM</p>
    </div>
  </div>
  <div id="slide21" class="slides">
    <div class="innerContent">
      <h3>Johnson &amp; Johnson</h3> <br>
      <p>is dedicated to supporting and mentoring the next generation of innovators through the WiSTEM2D (Women in Science, Technology, Engineering, Math, Manufacturing and Design) Scholars Program in Japan, Brazil, Ireland &amp; the US.</p>
    </div>
    <a class="source" href="https://www.jnj.com/innovation/how-johnson-and-johnson-supports-women-in-stem-around-the-world">Source</a>
  </div>
  <div id="slide22" class="slides">
    <div class="innerContent">
      <div class="wrapper">
        <div class="column">
          <%= image_tag("un_logo.png", :alt => "United Nations", :id => "un") %>
        </div>
        <div class="column75">
          <p>UNESCO works with L'Oreal to offer support and recognition for the work of women in STEM fields.</p>
          <p>In regions where women are especially underrepresented, such as the Middle East and Sub-Saharan Africa, L'Oreal offers fellowships to promising young women in STEM.</p>
        </div>
      </div>
    </div>
    <a class="source" href="http://www.unesco.org/new/en/natural-sciences/priority-areas/gender-and-science/for-women-in-science-programme/">Source</a>
  </div>
  <div id="slide23" class="slides">
    <div class="innerContent">
      <p>In some countries, there is a larger issue of equal access to education. 110 million children in developing nations are out of school with 60% being girls.</p>
    </div>
    <a class="source" href="https://www.elitedaily.com/women/separate-unequal-countries-worst-gender-inequality-education"></a>
  </div>
  <div id="slide24" class="slides">
    <div class="innerContent">
      <div class="wrapper">
        <div class="column50">
          <hr>
          <p>Making accomplished women scientists visible is important for history, changing biases, building further scientific success &amp; inspiring future generations to get involved in STEM.</p>
          <hr>
        </div>
        <div class="column50">
          <%= image_tag("hiddenFigures.jpg", :alt => "Hidden Figues") %>
        </div>
    </div>
  </div>
</div>
<div id="slide16" class="parallax">
  <div class="innerContent">
    <p>"Our society is inching toward a future when the phrase 'you code like a girl' will be a compliment of the highest order."<br>
    <em>Stephanie Walden</em></p>
  </div>
  <!-- <a class="source" href="http://mashable.com/2016/01/22/women-in-stem-global/#r88R.76r_uqX">Source</a> -->
</div>
</section>
<!-- Section 3 of Women in STEM -->
<section id="country" class="slides">
  <p class="photoSource">UN Photo: Gaganjit Singh</p>
  <div class="innerContent">
    <p>What's it like to be a woman in STEM in India?</p>
    <p>How is it different than in the United States?</p>
    <p>Which countries have gender equity in the workforce?</p>
    <p>How can we create mentorship opportunities and support for women in STEM?</p>
    <p>Do cultural stereotypes and social expectations prevent women from going into STEM?</p> <br> <br>
    <%= link_to "Find out through country profiles", country_path, class: "linkButton" %>
  </div>
</section>
<!-- Section 4 / End of Women in STEM -->
<section id="mun" class="parallax">
  <div class="innerContent">
    <p class="quote">Continue the discussion through Model UN, a fun and interactive way to learn more about international issues, such as Women in STEM,
        and the work of the United Nations. Roleplay delegates from the UN and practice public speaking and negotiation through the Model United Nations App, available
        through the <a href="http://unausa.org/">United Nations Association of the USA (UNA-USA)</a> and the <a href="https://www.state.gov/p/io/">U.S. Department of State's Bureau of International Organization Affairs.</a></p> <br>
    <a href="http://unausa.nclud.com/simulations/details_list/2" class="linkButton">Gender in Science mini-simulation</a>
  </div>
</section>
<p id="bottomSource">Photo: Elliott Lyles, Global Classrooms DC Spring Model UN Conference, 2017</p>
