<!DOCTYPE html>
<html>
  <head>
    <title>Women in STEM | M. Penn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/be1704dd14.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600|Roboto:400,400i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div id="topMenu">
          <button id="menuButton">
            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
          </button>
          <span>Women in STEM</span>
      </div>
      <nav>
        <%= render :partial => "/mains/menu" %>
      </nav>
    </header>
    <section id="yieldContainer">
      <%= yield %>
    </section>
    <button id="topButton">TOP</button>
    <footer>
      <span>&copy; 2017 <a href="https://www.linkedin.com/in/megan-penn-04642556/">Megan Penn</a></span>
    </footer>
  </body>
</html>
